/*通用*/
body{
	margin:0px;
	padding:0px;
	font-family:"幼圆","微软雅黑";
	font-size:12px;
	line-height:24px;
	font-weight: 600;
	color:black;
	background:#dadada;
}
section{
  max-width:1440px;
  margin: 0 auto;
}
ul,li,ol,dt,dd,p,div,h1,h2,h3,h4,h5,h6,input,button,img,span,iframe{
	margin:0px;
	padding:0px;
}
ul,ol{
	list-style:none;
}
input,button{
	font-family:"微软雅黑";
	outline:none;
	border:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
a{
	text-decoration:none;
	color: black
}
a:hover{
	text-decoration:none;
}
.container{
  max-width:1000px;
	margin:0px auto;
	padding:0px;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
/*注册登录背景 */
.bg{
  max-width: 1440px;
  min-height:810px;
  background:url(../images/user.jpg) no-repeat; 
}
/* 处理外边距溢出 */
.bg:before{
  display:table;
  content:"";
}
/* 自定义响应 */
/* 大屏 */
@media screen and (min-width:992px){
  /* header高度 */
  .my_header{
    height:120px;
	}
	/* footer高度 */
	.my_footer{
		height: 208px;
	}
}
/* 中屏 */
@media screen and  (min-width:768px) and (max-width:991px) {
    /* header高度 */
    .my_header{
      height:120px;
		}
		/* footer高度 */
	.my_footer{
		height: 292px;
	}
}
/* 小屏 */
@media screen and (min-width:576px) and (max-width:767px){
   /* header高度 */
   .my_header{
    height:232px;
	}
	.my_footer{
		height: 292px;
	}
}
/* 头部宽度 */
.my_header{
	width:100%;
	vertical-align: bottom;
}
/* 脚宽度 */
.my_footer{
	width:100%;
	vertical-align: top;
}
/* 弹出框 */
#alert{
  height:200px;
  background:#f4e1a9;
  border-radius:0.75rem; 
  position: fixed;
  top:270px;
  display:none;
  padding-top: 5px;
  font-size:18px;
  line-height: 30px;
}
@media screen and (min-width:992px){
  #alert{ 
    width:30%;
    left:35%;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
  #alert{ 
  width:40%;
  left:30%;
  }
}
@media screen and (max-width:767px){
  #alert{
   width:60%;
   left:20%;
  }
}
