/*通用*/
html {
	width: 100vw;
	overflow-x: hidden;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: "幼圆", "微软雅黑";
	font-size: 12px;
	line-height: 24px;
	font-weight: 600;
	color: #2c3e50;
	background: #dadada;
	position: relative;
	cursor: url("../images/my_default.cur"), default;
}

ul,
li,
ol,
dt,
dd,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
img,
span,
iframe {
	margin: 0px;
	padding: 0px;
}

ul,
ol {
	list-style: none;
}

input,
button {
	font-family: "微软雅黑";
	outline: none;
	border: none;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

a {
	text-decoration: none;
	color: black;
	cursor: url("../images/my_pointer.cur"), pointer;
}

a:hover {
	text-decoration: none;
}

.cf:after {
	content: "";
	display: block;
	clear: both;
}

/* 回滚首页按键 */
#to_top_btn {
	width: 60px;
	height: 70px;
	position: fixed;
	right: 5%;
	bottom: 15%;
	transform: translate(50%, 0%);
	cursor: url("../images/my_pointer.cur"), pointer;
}

/* 按钮图片随外框大小变化 */
#to_top_btn img {
	width: 100%;
	height: 100%;
}

/* 回滚开始 */
@keyframes totop1 {
	0% {
		width: 60px;
		height: 70px
	}

	25% {
		width: 70px;
		height: 55px
	}

	50% {
		width: 60px;
		height: 70px
	}

	75% {
		width: 50px;
		height: 90px
	}

	100% {
		width: 50px;
		height: 90px
	}
}

/* 回滚结束 */
@keyframes totop2 {
	0% {
		width: 50px;
		height: 90px
	}

	25% {
		width: 50px;
		height: 90px
	}

	50% {
		width: 60px;
		height: 70px
	}

	75% {
		width: 70px;
		height: 55px
	}

	100% {
		width: 60px;
		height: 70px
	}
}

/* 回到首页字样 */
#to_top_btn div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* 控制在按钮上层 */
	z-index: 1;
	width: 0%;
	height: 0%;
	border-radius: 15px;
	background: #fff;
	color: #fb21c1;
	font-size: 25px;
	font-weight: 900;
	line-height: 35px;
	text-align: center;
	transition: 0.2s;
	overflow: hidden;

}

/* 悬浮时显示遮挡按钮图片 */
#to_top_btn:hover div {
	height: 100%;
	width: 100%;
}

/* 定义boot缩略图组件悬浮放大过渡 */
.img-thumbnail {
	transition: 0.2s;
}

.img-thumbnail:hover {
	transform: scale(1.1);
}

/* 自定义链接样式 */
a.my_a {
	color: #0066CC !important;
}

a.my_a:hover {
	color: #f56000 !important;
}