/* 自定义响应 */
/* 大屏 */
@media screen and (min-width:992px) {

  /* 一级导航 */
  nav div>ul>li>a {
    font-size: 20px;
    line-height: 50px;
  }

  /* 二级导航字体大小 */
  nav div ul li ul li a {
    font-size: 20px
  }

  /*热事导航字体大小 */
  .nav-pills {
    font-size: 18px;
  }
}

/* 中屏 */
@media screen and (min-width:768px) and (max-width:991px) {
  nav div>ul>li>a {
    font-size: 18px;
    line-height: 45px;
  }

  nav div ul li ul li a {
    font-size: 18px
  }

  .nav-pills {
    font-size: 16px;
  }
}

/* 小屏 */
@media screen and (min-width:576px) and (max-width:767px) {
  nav div>ul>li>a {
    font-size: 14px;
    line-height: 40px;
  }

  nav div ul li ul li a {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .nav-pills {
    font-size: 16px;
  }
}

/* 导航 */
/* 主要样式 */
nav {
  width: 100%;
  background: #6c757d;
}

nav div {
  text-align: center;
}

/*文字属性 */
nav>div>ul>li {
  float: left;
  width: 14.28%;
  position: relative;
}

nav>div>ul:after {
  content: "";
  display: block;
  clear: both;
}

nav>div>ul>li>a {
  position: relative;
  z-index: 10;
  color: #fff;
  transition: 0.3s;
}

/* 鼠标停留 */
/* 选中圆框 */
nav>div>ul>li::after {
  content: "";
  display: none;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 20px;
  top: 20%;
  left: 20%;
  background: #f8f9fa;
  transition: 3s;
}

nav>div>ul>li:hover::after {
  display: inline-block;
}

/* 下划线 */
nav div>ul>li::before {
  content: "";
  border-top: 2px solid #e89aa8;
  border-bottom: 2px solid #e89aa8;
  position: absolute;
  height: 100%;
  width: 0%;
  left: 100%;
  transition: 0.3s;
}

nav div>ul>li:hover::before {
  width: 100%;
  left: 0%;
}

nav div>ul>li:hover>a {
  color: #000;
}

nav div>ul>li:hover~li::before {
  left: 0%;
}

nav div ul li a {
  transition: all 0.3s;
}

/* 二级显示 */
nav div ul li ul li:hover {
  background: #9a273cbb;
}

nav div ul li ul li a {
  color: #fff;
}

nav div ul li ul li:hover a {
  color: #000;
}

/* 二级导航 */
nav div ul ul {
  /* visibility: hidden; */
  position: absolute;
  z-index: 10;
  width: 0%;
  top: 100%;
  left: 100%;
  padding: 0;
  text-align: center;
  letter-spacing: 5px;
  background: #6c757daa;

}

nav div ul ul li {
  white-space: nowrap;
  transition: none;
  overflow: hidden;
}

nav div ul li:hover ul {
  transition: 0.3s;
  visibility: visible;
  width: 100%;
  left: 0%;
}

nav div ul li:hover~li ul {
  left: 0%;
}

nav div ul li ul li a {
  color: #fff;
  line-height: 40px;
}

/* 轮播图 */
div.banner {
  max-width: 1440px;
  /* max-height:810px; */
  height: 431px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  display: flex;
  perspective: 3000px;
  margin: 0 auto;

}

/* 阴影效果 */
.banner-box>li>a>img {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);

}

.banner-box>li>a {
  width: 100%;
  height: 100%;
  display: block;
}

/* 轮播图盒子整体 */
.banner-box {
  list-style-type: none;
  transform-style: preserve-3d;
  /*保留其子元素的3d显示效果*/
  width: 500px;
  height: 281px;
  position: relative;
  /*参照物 定位属性*/
  margin: 75px auto;
  transform: rotateY(-3600deg);
  z-index: 3;
  transition: 0.3s ease-out;
}
/* 轮播下边阴影 */
.banner:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  top: 100%;
  left: 50%;
  transform:
    translate(-50%, -100%) rotateX(85deg);
  margin: 5px auto;
  box-shadow: 0px -50px 500px 200px #000;
}

/* 设置盒子单面 */
.banner-box>li {
  width: 500px;
  height: 281px;
  position: absolute;
}

/* 盒子每面属性*/
.banner1 {
  transform: rotateY(0deg) translateZ(433px);
}

.banner2 {
  transform: rotateY(60deg) translateZ(433px);
}

.banner3 {
  transform: rotateY(120deg) translateZ(433px);
}

.banner4 {
  transform: rotateY(180deg) translateZ(433px);
}

.banner5 {
  transform: rotateY(240deg) translateZ(433px);
}

.banner6 {
  transform: rotateY(300deg) translateZ(433px);
}

/* 轮播图左右按键 */
/* 样式 */
div.banner .l_r_btn button {
  width: 40px;
  height: 80px;
  background: #00000050;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  outline: none;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
  /* 让按键可以在盒子上面 */
  z-index: 5;
}

/* 轮播部分悬停后按键过渡出现 */
div.banner:hover .l_r_btn button {
  opacity: 1;
}

/* 左右定位 */
div.banner .l_r_btn button.left {
  left: 7%;
}

div.banner .l_r_btn button.right {
  right: 7%;
}

/* 按键里面的角*/
div.banner .l_r_btn button div {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-top: 5px solid #f8f9fa;
  border-left: 5px solid #f8f9fa;
}

/* 设置箭头位置和角度 */
button.left div {
  transform: translateX(5px) rotate(-45deg)
}

button.right div {
  transform: translateX(-5px) rotate(135deg)
}

/* 按键位置悬浮时箭头变成黑色 */
div.banner .l_r_btn button:hover div {
  border-top: 5px solid #000;
  border-left: 5px solid #000;
}

/* 清除使用boot之后按钮点击后的阴影 */
.btn-light:focus,
.btn-light.focus {
  box-shadow: none;
}
/* 跳页按钮 */
/* 按钮整体 */
div.banner_to{
  position:absolute;
  bottom:3%;
  left:50%;
  transform:translate(-50%);
  z-index: 5;
}
/* 单独按钮样式 */
button.banner_to_btn{
  width: 15px;
  height: 15px;
  border-radius:50%;
  border:none;
  outline:none;
  cursor: pointer;
  margin: 10px;
  float: left;
  background: #FF99CC;
}
button.banner_to_btn:first-child{
  background:#CCFFFF;
}
/* 悬停特效 */
button.banner_to_btn:hover{
  background:#DC143C;
  box-shadow:0 0 0 3px #CCFFFF,
             0 0 0 6px #FF99CC;
}

/* 资讯  */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background: #0099CC;
}

/* 热事新闻,论坛 */
section div.zx {
  margin-bottom: 20px;
  background: #fff;
  min-height: 520px;
  color: #343a40;
}

section div.zx:before {
  content: "";
  display: table;
}

section div.zx h1 {
  margin: 20px 0;
}

/* 公共表格样式 */
#news_content,
#bbs_content {
  margin-top: 50px;
  width: 100%;
}

div.zx table {
  width: 100%;
  font-size: 14px;
}

div.zx table tr {
  font-weight: 500;
}

/* 新闻表格细节  */
#news_content table tr td:nth-child(3),
#news_content table tr td:nth-child(4) {
  text-align: center;
}

#bbs_content table {
  text-align: center;
}

#news_content table tr th:nth-child(1) {
  width: 25%;
}

#news_content tr th:nth-child(2) {
  width: 50%;
}

#news_content tr th:nth-child(3) {
  width: 10%;
  text-align: center;
}

#news_content tr th:nth-child(4) {
  width: 15%;
  text-align: center;
}

/* 热帖表格 */
#bbs_content tr td:nth-child(3) span:first-child {
  color: red;
}

/* 热事祭典 */
#fes_publish div div div {
  padding: 20px;
}

#fes_publish p {
  font-size: 18px;
  margin: 5px;
  font-weight: 500;
}

/* 介绍内容#intro */
#intro {
  background: #fff;
  padding: 20px;
  margin-top: 30px;
}

#intro div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* 介绍文本 */
#intro p {
  color: #343a40;
}

/* 标题 */
#intro h1 {
  text-align: center;
  margin: 15px;
  font-weight: 800;
}
/* 二级标题 */
#intro h3 {
  text-align: center;
  margin: 50px 0;
  font-weight: 800;
  color: #ba02dc;
  position: relative;
}

/* 二级标题上下的三角 */

#intro h3::before,
#intro h3:after {
  content: "";
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-25px);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

/* 上三角 */
#intro h3::before {
  top: -10px;
  border-top: 5px solid #c8f63b;
  border-bottom: 0px solid transparent;
}

/* 下三角 */
#intro h3:after {
  top: 38px;
  border-bottom: 5px solid #c8f63b;
  border-top: 0px solid transparent;
}

#intro h3:target {
  animation: bounce 0.8s 0.1s;
}

#intro h5 {
  font-weight: 700;
  color: #343a40;
}

/* 介绍图片宽度位置 */
#intro div div.intro_img img {
  max-width: 100%;
  vertical-align: middle;
  transition: 0.5s;
}

/* 悬停图片过渡 */
#intro div div.intro_img img:hover {
  transform: scale(1.1);
}

/* 介绍文字 */
/* 标题 */
#intro div h5 {
  margin: 10px;
}

#intro div.intro_content .text {
  margin-bottom: 10px;
}

#intro div.intro_content .text p {
  font-size: 16px;
  text-indent: 2em;
  margin: 5px;
}

#page-1 {
  background: #17a2b8;
}
