.btn_div {
  position: relative;
  perspective: 800px;
  height: 45px;
  width: 100%;
  margin-top: 5px;
}

.img_btn {
  position: relative;
  margin: 0 auto;
  width: 400px;
  height: 35px;
  transform: rotateX(0deg);
  transition: 0.5s;
  transform-style: preserve-3d;
}

.img_btn button {
  height: 35px;
  outline: none;
  border: 2px solid black;
  box-sizing: border-box;
}

.img_btn .sort_btn {
  position: absolute;
  transform: rotateX(0deg)translateZ(1px)
}

/* 阴影效果 */
.img_btn .sort_btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -5px;
  left: 0px;
  bottom: 15px;
  right: 0px;
  background: #dadada;
}

.return_btn {
  position: absolute;
  transform: rotateY(180deg)translateZ(1px)
}

.img_btn .sort_btn button {
  width: 100px;
  float: left;
  transition: 0.1s;
  box-shadow: 0 5px 5px 0 #000;
}

.sort_btn button:first-child {
  border-radius: 15px 0 0 15px;
  border-right-width: 1px;
  background: #ff7675;
}

.sort_btn button:nth-child(2) {
  background: #74b9ff;
}

.sort_btn button:nth-child(3) {
  background: #00b894;
}

.sort_btn button~button {
  border-left-width: 1px;
  border-right-width: 1px;
}

.sort_btn button:last-child {
  background: #a29bfe;
  border-radius: 0 15px 15px 0;
  border-left-width: 1px;
}

.return_btn button {
  background: #b2bec3;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 12px 11px 0 #000;
}

div.btn_div .img_btn button.active {
  transform: translateY(5px);
  background: #fff;
}

div.btn_div .img_btn button.active::after {
  content: "倒序"
}

div.btn_div .img_btn button.active.asc::after {
  content: "顺序"
}

div.main_show {
  position: relative;
}

div.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: #dff9fb;
  padding: 0.5rem;
}

div.main>div {
  background: #ced6e0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

div.main>div.normal {
  width: 32%;
}

div.main>div.normal div.img_show {
  height: 300px;
}

div.main>div.full {
  width: 100%;
}

div.main>div.full div.img_show {
  height: 600px;
}

div.img_show {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

div.img_show img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
}

.img_msg {
  max-width: 500px;
  margin: 0 auto;
}

.img_msg p:nth-child(1) {
  text-align: right;
}

.img_msg p:nth-child(2) {
  text-align: center;
  font-size: 1.1rem;
}

.img_msg>p:nth-child(2) span {
  color: red;
}

.img_msg p:nth-child(3) {
  text-align: center;
}

.img_msg p:nth-child(3) span {
  margin: 0 5px;
}

/* 左右按键 */
div.main_show>button.c_btn {
  position: absolute;
  width: 70px;
  height: 70px;
  outline: none;
  border-radius: 50%;
  background: #e55039;
  top: 50%;
  margin-top: -50px;
  transition: 0.2s;
  filter: blur(0.6px)
}

div.main_show>button.c_btn:hover {
  background: #ecf0f1;
}

/* 按键三角 */
div.main_show>button.c_btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transition: 0.2s;
}

button.c_btn.left {
  left: -10%;
}

button.c_btn.left:after {
  margin-left: -58px;
  border-right: 35px solid #ecf0f1;
  border-left: 35px solid transparent;
}

div.main_show>button.c_btn.left:hover:after {
  border-right-color: #e55039;
}

button.c_btn.right {
  right: -10%;
}

button.c_btn.right:after {
  margin-left: -12px;
  border-left: 35px solid #ecf0f1;
  border-right: 35px solid transparent;
}

div.main_show>button.c_btn.right:hover:after {
  border-left-color: #e55039;
}