body{
  background-color: #dadada;
}
section{
  max-width:1440px;
  min-height:810px;
  margin: 0 auto;
}
/* 登录表单 */
/* 外框 */
section>div>div>div{
  width:450px;
  height:350px;
  margin-top:150px;
  /* border: 1px solid black; */
  background: #343a4020;
  padding:40px;
  font-size:14px;
  /* color:#fff; */
}
/* 提示文字样式 */
#login_form div div p{
  color:#dc3545;
  font-size:14px;
  line-height:30px;
}
/* 自动勾大小 */
#auto{
  transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
  margin-right:1rem;
  margin-left: 1rem;
}
