/*注册登录背景 */
.bg {
  margin-top: 20px;
  max-width: 1440px;
  min-height: 810px;
  background: url(../images/bg.jpg);
  position: relative;
  z-index: 0;
}

/* 处理外边距溢出 */
.bg:before {
  display: table;
  content: "";
}

/* 表单框样式 */
section>div>div {
  width: 450px;
  position: relative;
}

/* 注册框位置 */
#reg_form {
  margin: 190px auto 0;
}

/* 登录框位置 */
#login_form {
  margin: 250px auto 0;
}

/* 边框外阴影 */
section>div>div>div {
  position: relative;
  /* 给里面的div限制实现流光 */
  border-radius: 10px;
  padding: 2px;
  overflow: hidden;
}

section>div>div:after {
  top: -5px;
  bottom: -5px;
  left: -15px;
  right: -5px;
  z-index: -5;
  filter: blur(50px);
}

/* 外流光 */
section>div>div>div>div:before {
  top: -200px;
  bottom: -200px;
  left: -200px;
  right: -200px;
  z-index: -1;
  /* 调用旋转动画 */
  animation: turn 5s infinite;
}

/* 背景旋转加外框padding 隐藏限制实现流光 */
@keyframes turn {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* 阴影流光共同样式 */
section>div>div>div>div:before,
section>div>div:after {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: linear-gradient(45deg, #CC3399, #FF99CC,  #99CC33,#CCFF00);
}

/* 内容框 */
section>div>div>div>div {
  background: #dadada;
  padding: 5px 40px;
  border-radius: 10px;
  font-size: 14px;
}

/* 标题 */
section>div>div h4,
section>div>div a {
  color: #000;
  font-weight: 600;
}

/* 跳转注册悬浮 */
section>div>div a:hover {
  color: #fff;
}

/* 输入框样式 */
/* 上下间距 */
.input_box {
  position: relative;
  margin: 28px 0px;
}
/* 输入框居中 */
.input_box input {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 5px 20px;
  width: 80%;
  border: 3px solid #33CCFF;
  outline: none;
  border-radius: 20px;
  transition: 0.3s;
}
/* 登录页面加载时表单自动填写时内容使其文字不遮挡 */
/* 点击后js修改为5px 20px */
#login_form .input_box input {
  padding: 5px 60px;
}

/* 提示文字样式 */
div.input_box label {
  width: 80%;
  color: #33CCFF;
  position: absolute;
  top: 50%;
  left: 57px;
  transform: translate(0, -50%);
  z-index: 2;
  transition: 0.3s;
  pointer-events: none;
}

/* 聚焦样式 */
.input_box input:focus {
  width: 100%;
  padding: 5px 20px !important;
  border-color: #0066FF !important;
}

/* 聚焦文字特效 */
.input_box input:focus~label {
  width: 100%;
  left: 20px;
}

.input_box input:focus~label,
.input_box input:valid~label {
  top: -15px;
}

/* 提交按键 */
#btn {
  width: 100%;
  height: 36px;
  margin-top: 10px;
  background: #0066FF;
  position: relative;
  border-radius: 18px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* 文字样式且在最上面 */
#btn p {
  position: absolute;
  color: #0066FF;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* 按键特效 */
#btn:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  background: #33CCFF;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

#btn:hover:after {
  width: 0%;
  border-radius: 0px;
}

#btn:hover p {
  color: #fff;
  transition: 0.1s 0.3s
}

/* 登录限定 */
/* 自动勾大小 */
#auto {
  transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-left: 15%;
}

#auto~label {
  color: #000;
}

/* 注册限定 */
/* 单选样式 */
.sex {
  margin-left: 70px;
}

.sex label {
  margin: 0 15px 0 40px;
}

/* 单选圈大小 */
.sex input {
  transform: scale(1.5);
  display: inline-block;
  vertical-align: middle;
}

/* 弹出框 */
#alert_div {
  height: 200px;
  width: 350px;
  background: #FFFFCC;
  border-radius: 0.75rem;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 35px 0px;
  font-size: 18px;
  line-height: 30px;
}
/* 清除设置表单框阴影层的背景色带来的影响*/
#alert_div:after{
  background:none; 
}

#alert_div div {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#alert_div div:hover {
  color: #CC0033;
}

#alert_div span:first-child {
  font-size: 12px;
  vertical-align: middle;
}

#alert_div span~span {
  font-size: 36px;
  margin-bottom: 6px;
}
#alert_div p {
  margin: 10px;
}

#alert_div p a {
  margin: 10px;
  text-decoration: underline;
  color:#0099CC;
}

#alert_div p a:hover {
  color: #000;
}

#alert_div p a:active {
  color: #FF6666;
}
#alert_div #show{
  font-size: 18px;
}