/* 重写响应式折叠导航栏 */
.bg-dark {
  background: #6c757d !important;
}

.navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  font-size: 18px;
  color: #fff;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/* 定义文章文字大小 */
p {
  font-size: 18px;
  font-weight: 500;
}

/* 介绍内容 */
div.intro {
  background: #fff;
  margin: 0;
  padding: 20px;
}

.intro h4 {
  margin: 20px 0;
  font-weight: 900;
}
.intro>div {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  width: 100%;
}

img.shop {
  width: 80%;
  height: 80%;
}

.intro>div p {
  text-align: center;
  margin-top: 10px;
}

/* 二级标题 */
.title {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
}

.title h3 {
  text-align: center;
  padding: 10px;
  position: relative;
}

.title h3:before,
.title h3:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.title h3:before {
  transform: translate(-110%, -50%);
  border-left: 100px solid transparent;
  border-right: 100px solid #000;
}

.title h3:after {
  transform: translate(10%, -50%);
  border-right: 100px solid transparent;
  border-left: 100px solid #000;
}
.title h4{
  margin: 10px 0;
}

/* 武器种类介绍 */
/* 清除card-header 内边距 */
.card-header {
  padding: 0px 10px;
}

/* 设置标题高度和字体 */
.card-header h5 {
  line-height: 50px;
  font-weight: 500;
}

._intro {
  background: #fff;
  padding: 20px;
}

._intro>h4{
  font-weight: 600;
} 
._intro>.main_show_pic{
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

._intro>p {
  padding: 20px 0;
}
._intro>.main_show_pic>img{
  min-width: 320px;
  margin:0 10px;
}

.card-body {
  padding: 20px 0;
}

._intro .card_intro {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 20px;
}

._intro .card_intro div {
  max-width: 320px;
}

._intro .card_intro div img {
  display: block;
  margin: 20px auto;
}

._intro .card_intro h6 {
  text-align: center;
  font-weight: 600;
}

/* 副武器 大招介绍 */
/* 标题logo */
.intro2 .card .card-header img {
  max-height: 40px;
  margin: 5px 10px;
}

.intro2 .card .card_intro div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.intro2 .card .card_intro div img {
  margin: 20px 20px;
  max-width: 320px;
  max-height: 190px;
}

.intro2 .card .card_intro p {
  padding: 20px;
}