p{font-size:16px;}
div.intro{
  background:#fff;
  margin:20px 0 ;
  padding:20px;
}
.intro h4{
  margin: 10px 0;
}
.intro>div{
  display: flex;
  justify-content: space-around;
  margin: 20px
}
.intro>div p{
  text-align: center;
  margin-top: 10px;
}
/* 二级标题 */
.title{
  background: #fff;
  padding:20px;
  margin: 20px 0;
}
h3{
  text-align:center;
  padding:10px;
  position: relative;
}
h3:before,h3:after{
  content:"";
  position: absolute;
  top:50%;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
h3:before{
  transform: translate(-110%,-50%);
  border-left: 100px solid transparent;
  border-right: 100px solid #000;
}
h3:after{
  transform: translate(10%,-50%);
  border-right: 100px solid transparent;
  border-left: 100px solid #000;
}
/* 武器种类介绍 */
._intro{
  background: #fff;
  padding: 20px;
}
